@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar Items */

#solution-hover-items {
  opacity: 0;
  display: hidden;
  height: 0;
  padding: 0;
  font-size: 0;
}

#solution-hover:hover + #solution-hover-items {
  display: inline-block;
  opacity: 1;
  height: fit-content;
  padding: 15px;
  font-size: 17px;
  transition: opacity 0.3s ease-in-out;
}

#solution-hover-items:hover {
  display: inline-block;
  opacity: 1;
  height: fit-content;
  padding: 15px;
  font-size: 17px;
  transition: opacity 0.3s ease-in-out;
}

#solution-hover:hover + #solution-hover-item > #divider {
  height: 1px;
  transition: opacity 0.3s ease-in-out;
}